
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Крок 1. аналізуємо щрифти, під'єднати шрифти з https: //fonts.google.com/, внести лінк в хед*/

/*обнулити всі непотрібні автоматичні властивості */
:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --mail-font: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
    cursor: pointer
}


.link:hover,
.link:focus {
    color: #ca7b2d;
}

.list {
    list-style: none;
}

.img-section {
    margin: 50px;
}

body {
    font-family: var(--mail-font);
}

/* ----------------- КОМПОНЕНТ --------------- */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    /*position: absolute;*/
    left: 40px;
    top: 18px;
}
span.logo-text-left {
color: var(--accent-color);
}

.logo-theme-light{
    color: var(--main-color);
    display: inline-block;
}

.logo-theme-dark {
    color:var(--main-color); 
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration:underline;
    text-align: center;

}

.subtitle-test {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: underline;
}



/* ----------------- ХЕДЕР --------------- */

.navigation {
    display: flex;
    margin-top: 20px;
}

.menu {
    display: flex;
    margin-top: 1px;
    margin-bottom: 0px;
} 

.menu-item {
    margin-left: 50px;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);

}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
 

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail:hover, 
.header-mail:focus 
{
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus
{
    color: var(--accent-color);
}

/* ----------------- Секція Hero --------------- */

.main-title {
    
    font-weight: 900;
    font-size: 32px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);

    padding-top: 35px;
    text-align: center;
    margin: 0px;
}

.hero-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align:right;
    letter-spacing: 0.03em;
    color: #757575;
    margin-right: 10px;
}

.hero {
    padding-bottom: 15px;
    background-color: rgb(255, 248, 220);
    /*background-image: url("../images/hero-bg.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ----------------- /Секція Hero --------------- */
 
/* ----------------- Секція Внутрішні документи --------------- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.internal-documents-list-link,
.education-documents-list-link  {
font-weight: 700;
font-size: 16px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--main-color);
}

.internal-documents-list-description,
.education-documents-list-description {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.services {
justify-content: space-around;
}

.text-container {
justify-content: space-around;
}

.text-container-test-light {
padding: 40px;
}

/* ----------------- /Внутрішні документи --------------- */


/* ----------------- Секція Навчальні матеріали --------------- */

.education-documents-container {
    align-items: center;
    background:rgb(255, 248, 220);}

.education-documents-container-light {
    align-items: center;
}

.education-documents-list {
    margin: 0px;
    padding: 0px;
}

/* ----------------- /Секція Презентаційні матеріали --------------- */


.legal-list-link 
    {
        font-weight: 00;
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--main-color);
    }



/* ----------------- Секція Чим займаємось --------------- */

/* ----------------- /Секція Чим займаємось --------------- */

/* ----------------- Секція Новини --------------- */

.news-section {
    background-color: rgb(255, 248, 220);
    /*width: 1380px;*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}
 


.news-list {
padding-left: 0px;
display: flex;
margin-left: 70px;
flex-wrap: wrap; /*перенесення елементів на другу сточку в флекс контейнері - багаторядковий флекс */
}

.news-list-item {
width: 300px;
background-color: white;
margin-right: 30px;
margin-bottom: 30px;
padding: 15px;
border-radius: 12px;
box-shadow: 10px 10px 20px;
}

/*тест з процентами розподілення обєму ентейнеру*/
.news-list-item-test {
    
    background-color: white;
    
}

/* кожному 4-му елементу у многострочному флексі відключити відступ */
.news-list-item:nth-child(4n) {
    margin-right: 0px;
} 

/* у трьох останніх елементах прибрати нижній відступ*/

.news-list-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

.news-list-img {
    margin-left: -15px;
}


.news-list-title, 
.team-list-description {
text-align: center;
}
.news-list-name {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
    font-weight: 500;
    color: var(--main-color);
}
.news-list-profession{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #757575;
}
/* ----------------- /Секція Новини --------------- */


/* ----------------- Секція Фото змін --------------- */

.photo-section {
    background-size: cover;
}

.team-list {
margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
padding-top: 20px;
}


.team-list-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.team-list-img {
    
    width: 1400 px;
    background-color: rgb(148, 94, 94);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px #999898;
    }

/* ----------------- Футер --------------- */
.postal-address-link,
.footer-mail,
.footer-tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

/*color: rgba(255, 255, 255, 0.6);*/
}

/* ----------------- /Футер --------------- */

/* ----------------- Портфолио --------------- */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: #F5F4FA;
    cursor: pointer;
}

.filter-button:hover {
background-color: var(--accent-color);

}

.examples-list-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.examples-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ----------------- /Портфолио --------------- */




/*.presentations-list-title {
font-weight: 900;
font-size: 18px;
line-height: 1.8;
letter-spacing: 0.04em;
color: var(--accent-color);

}
.presentations-list-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.presentations-list-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
*/